version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: todo-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: todo_application
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
